<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          {% if site.data.social %}
            {% include social.html %}
          {% endif %}
          {% if site.footer.copyright_text %}
          <h3 class="footer-title">{{site.title}}</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>